.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #333356a8;
  background-color: #000f1d;
}

.title {
  font-weight: 400;
  letter-spacing: 2px;
}

.homeButton,
.homeButton:active,
.homeButton:visited {
  border: none;
  outline: none;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  transition: all 0.7s ease;
  color: #fff;
}

.homeButton:hover {
  transform: scale(1.2);
}

.contactIcon {
  font-size: 2rem;
  color: #fff;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contactIcon:hover {
  transform: scale(1.2);
}
